pipeline/practice_google_storage.json
{
	"name": "practice_google_storage",
	"properties": {
		"activities": [
			{
				"name": "list_image_file",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "SQL_hanif_image",
						"type": "DatasetReference",
						"parameters": {
							"schema_name": "dbo",
							"table_name": "list_image"
						}
					}
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "list_image_file",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "pipelineReturnValue",
					"value": [
						{
							"key": "file_name",
							"value": {
								"type": "Expression",
								"content": "@split(replace(activity('list_image_file').output.firstRow.concatenated_files, '\\', ''), ',')"
							}
						}
					],
					"setSystemVariable": true
				}
			}
		],
		"folder": {
			"name": "practice_case"
		},
		"annotations": []
	}
}